<html>
<head>
  <title><%= $d.course.full_name%></title>
  <style>
    <%= $k.render($d.common_style) %>
  </style>
</head>  

<body>
<h1><%= $d.course.full_name %> <%= $d.semester.full_name %></h1>

Welcome to <%= $d.course.short_name %>.  Data Structures are amazing!

<%= $k.render($d.contact_info_file) %>

</body>
</html>